{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for attribute in attributes %}

<h1>Muokkaa askaretta {{attribute.nimi}}</h1>

<form method="post" action="{{base_path}}/askare/{{attribute.askareid}}/muokkaa">
    <div class="form-group">    
        <label>Nimi</label>
        <input name="nimi" type="text" class="form-control" value="{{attribute.nimi}}">
    </div>
    <div class="form-group">
        <label>Tärkeys (1-5)</label>
        <input name="tarkeysaste" type="text" class="form-control" value="{{attribute.tarkeysaste}}">
    </div>
    <div class="form-group">
        <label>Luokka (tägit)</label>
        <input name="luokka" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="kuvaus" class="form-control">{{attribute.kuvaus}}</textarea>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endfor %}
{% endblock %}