{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% for askare in askareet %}
  <h1>{{askare.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <form method="post" action="{{base_path}}/askare/{{askare.askareid}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a href="{{base_path}}/askare/{{askare.askareid}}/muokkaa" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tärkeys:</strong> {{askare.tarkeysaste}}</li>
    <li><strong>Luokka:</strong> </li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    {{askare.kuvaus}}
  </p>
  <h3>Askeleet</h3>
  <ol>
    <li>-</li>
    <li>-</li>
  </ol>
{% endfor %}
{% endblock %}