{% extends "base.html" %}
{% block content %}
  <h1>Imuroi kämppä</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tärkeys:</strong> 4</li>
    <li><strong>Luokka:</strong> Puhtaanapito, Kotiaskareet</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    On aika käydä kamppailuun pölyhiukkasia vastaan!
  </p>
  <h3>Askeleet</h3>
  <ol>
    <li>Napataan pölynimuri</li>
    <li>Karkoitetaan pölyhiukkaset lattioilta</li>
  </ol>
  
{% endblock %}